.content-user-info{
    display: flex;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
}

.content-info{
    padding-left: 30px;
    padding-bottom: 24px;
}

.user-img{
    width: 284;
    height: 280px;
    margin-bottom: 5px;
}

.user-repositorios{
    display: flex;
    margin-bottom: 11px;
}

.user-numero{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 8px;
    padding: 0 5px 0 5px;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #595959;

}

.user-infor{
    width: 860px;
    height: 250px;    
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    padding-left: 14px;
    padding-top: 8px;

}

.user-info-title{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1890FF;
    margin-bottom: 10px;
}

.user-info-item{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 17px;
    margin-bottom: 5px;
    padding: 8px;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #737373;

}

