.search-container{
    width:90%;
    margin: auto;
    padding: 24px;
    align-content: center;
}

.search-content{    
    height: 270px;
    background: #E6F7FF;
    border-radius: 16px;
    padding-left: 90px;
}

.search-title{
    
    padding-top: 60px;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
}

.search-input{
    margin-top: 12px;
    padding-left: 15px;
    margin-bottom: 24px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #BFBFBF;
    width: 600px;
}

.info-container{
    width:90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 150px;
    align-content: center;
    height: 300px;
}

.info-content{
    width: 100%;
    background: #F5F5F5;
    border-radius: 16px;   
    margin-bottom: 50px;
}

.user-info-loader{
    display: flex;
}


